<header class="menu">
    <ul class="nav nav-pills">
        <div class="texto">Practica02 - Traductor</div>
        <li class="nav-item dropdown">
            <button class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Archivo</button>
            <div class="dropdown-menu">
                <a class="dropdown-item">Abrir</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Guardar</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Nueva Pestaña</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Salir</a>
            </div>
        </li>
        <div class="texto"></div>
        <li class="nav-item dropdown">
            <button class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Reportes</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>
        <div class="texto"></div>
        <li class="nav-item">
            <button (click)="analyze(cSharpInput)" class="btn btn-outline-light" aria-haspopup="true" aria-expanded="false">Analizar</button>
        </li>
    </ul>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="title">Entrada C#</h3>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="t1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1"
                        aria-selected="true">Pestaña 1</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="t1">
                    <textarea class="form-control" rows="16" #cSharpInput></textarea>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h3 class="title">Salida Python</h3>
                    <textarea readonly class="form-control" rows="9">Texto</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="title">Salida HTML/JSON</h3>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="html-tab" data-toggle="tab" href="#html" role="tab"
                                aria-controls="html" aria-selected="true">HTML</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="json-tab" data-toggle="tab" href="#json" role="tab"
                                aria-controls="json" aria-selected="false">JSON</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="html" role="tabpanel" aria-labelledby="html-tab">
                            <textarea readonly class="form-control" rows="5"></textarea>
                        </div>
                        <div class="tab-pane fade" id="json" role="tabpanel" aria-labelledby="json-tab">
                            <textarea readonly class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>