body
{
    background-color: #1e3799;
}
.menu
{
    background-color: #0c2461;
}
.texto
{
    color: white;
    font-size: large;
    margin: 1%;
}
.btn
{
    margin: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.btn-outline-light:hover
{
    color: #0c2461;
}
footer{
    background-color: #0c2461;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.title
{
    color: white;
}